<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
	<parameter name="URL" value="qaclickacademy.com"/>
	<listeners>
		<listener class-name="test.listnersImplementations"/>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.firstPractice" />
		</classes>
	</test>
	<!-- Test -->
	<test name="Practice 1">
		<classes>
			<class name="test.secondPractice">
				<methods>
					<exclude name="goodAfternoon"/>
				</methods>
			</class>
		</classes>
	</test>
</suite> 
<!--Suite -->
